:root {
    --primary-brown: #AE2F34;
    --login-backgroundColor: #FFB88C;
    --culinare-descriptionColor: #584140;
    --white: #fff;
    --forget-create: #BA1A1A;
    --form-text: #464555;
}

@font-face {
    font-family: 'Poppins';
    src: url(assests/fonts/Poppins/Poppins-Regular.ttf) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.login-page {
    width: 100%;
    background-color: var(--login-backgroundColor);
    min-height: 100vh;
}

.login-row {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.login-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-height: 100vh;
}

.login-left {
    width: 50%;
    min-height: 100vh;
}

.login-left>img {
    width: 100%;
    object-fit: cover;
    height: 100%;
     display: block;
}

.login-right-container {
    text-align: center;
    width: 446px;
    padding: 12px 26px 0 26px;
}

.logosize {

    width: 124px;
}

.welcomesize {
    font-size: 20px;
}


.logo-login>p {
    color: var(--culinare-descriptionColor);
    font-size: 12px;
    font-weight: 400;
    margin: 10px;
    width: 100%;
}

.form-container {
    background: var(--white);
    border-radius: 12px;
    border: 1px solid #C7C4D8;
    text-align: justify;
    padding: 25px 25px 25px 25px;

}

.form-container>p {
    color: #464555;
    font-size: 12px;

}

.marginBottom14px {
    margin-bottom: 14px;
}

#culinare-logo {
    cursor: pointer;
    width: 100%;
}

#culinare-logo img {
    height: 28px;
    object-fit: cover;
}

#passwordError {
    font-weight: 400;
    font-size: xx-small;
}

#emailError {
    font-weight: 400;
    font-size: xx-small;
}

.form-label {
    font-size: 12px;
    font-weight: 600;
    color: var(--form-text);

}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #C7C4D8;
    border-radius: 8px;
    border-color: #C7C4D8;
    background: #F1F5F9;
}

#loginForm {
    margin-top: 14px;
}

.pass-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pass-flex p {
    font-size: 12px;
    font-weight: 500;
    color: var(--forget-create);
}

.checkbox-content {
    font-size: 12px;
    font-weight: 500;

    color: var(--form-text);
}

.check-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.checkbox-flex {
    display: flex;
    justify-content: start;
    align-items: center;
    height: fit-content;
    gap: 8px;
    margin-top: 8px;
}

.btn-login {
    margin-top: 14px;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-brown);
    color: var(--white);
    cursor: pointer;
}

.btn-login:hover {
    background-color: #BA1A1A;
}

.create-account {
    margin-top: 20px;
}

.login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 12px;
}

.login-footer p {
    color: var(--form-text);
    font-size: 12px;
}

.login-footer a {
    color: var(--forget-create);
    font-size: 12px;
    text-decoration: none;
}

#msg {
    font-size: 12px;
    margin-top: 20px !important;
    text-align: center;
}




/* css for home page */

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 60px;
    padding-right: 60px;

}

.header-left {
    display: flex;
    align-items: center;
    gap: 44px;
}

.atag {
    text-decoration: none;
    color: #584140;
}

.header-left ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 24px;
    cursor: pointer;
    font-size: 14px;
}

.header-right {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 26px;
    color: var(--primary-brown);
}

.li-active {
    font-weight: bold;
    border-bottom: 2px solid var(--primary-brown);
    color: var(--primary-brown);

}

#home-search {
    border: 1px solid hsla(3, 36%, 81%, 0.3);
    border-radius: 24px;
    background-color: hsla(210, 90%, 96%, 1);
    color: hsla(220, 9%, 46%, 1);
    padding: 4px 14px;
}

.gap24 {
    gap: 24px;
}

.login-btn {
    text-decoration: none;
    background-color: var(--primary-brown);
    padding: 4px 14px;
    border-radius: 24px;
    color: white;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #FF6B6B;
}

.login-btn button {
    text-decoration: none;
    color: white;
    all: unset;
    cursor: pointer;
}

#welcome {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 50px;
    color: #0b1c39;
}

.banner {
    width: 100%;

}

.banner-img {
    width: 100%;
    position: relative;

}

.banner-img img {
    width: 100%;
    object-fit: cover;
    height: 466px;


}


.banner-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.95),
            rgba(255, 255, 255, 0));

    z-index: 0;
}

.loc {
    position: absolute;
    bottom: 148px;
    left: 204px;
    width: 10px !important;
    height: 13px !important;
    z-index: 1;
}

#delight {
    font-size: 36px;
    position: absolute;
    top: 190px;
    left: 192px;
    color: hsla(204, 27%, 11%, 1);
    font-weight: 700;
}

.banner-text {
    font-size: 36px;
    position: absolute;
    top: 232px;
    left: 188px;
    color: var(--primary-brown);
    font-weight: 700;
}

.banner-text2 {
    font-size: 16px;
    position: absolute;
    top: 290px;
    left: 194px;
    color: #584140;
    width: 455px;
}

#address-bar {
    position: absolute;
    bottom: 188px;
    left: 192px;
    width: 35%;
    padding: 14px 32px;
    border-radius: 14px;
    border: none;
}

.find-food {
    position: absolute;
    bottom: 188px;
    left: 51%;
    color: white;
    background-color: var(--primary-brown);
    padding: 14px 16px;
    border: 1px sold;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
    font-size: 12px;
}

.fontw400 {
    font-weight: 400 !important;
    color: var(--primary-brown);
}

.find-food:hover {
    background-color: #FF6B6B
}

.explore {
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.explore-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore-flex p {
    font-weight: 600;
    cursor: pointer;
}

.page-toggle {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

.page-nos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.page-nos-round {

    border-radius: 50%;
    border: 1px solid #BFCABA;
    padding: 0px 0px;
    height: 60px;
    width: 60px;
    color: #40493D;
    background-color: #ECF5FE;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page-nos-round:hover {
    background-color: #FF6B6B;
    color: #AE2F34;
}

#star {
    width: 16px;
    height: 16px;
    margin-left: 14px;
}

.flex-it {
    display: flex;
    gap: 4px;
    justify-content: space-between;

}

.rating {
    font-size: 14px;
}

.rating-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 7px 12px;
    margin-right: 12px;
    border: none;
    background: transparent;
    background-color: #FF6B6B;
    color: #AE2F34;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

.active-color {
    background-color: #FF6B6B !important;

}

.active-text {
    color: var(--primary-brown) !important;
}

.flex-col>p {
    color: #5F5E5E;

}

.text14 {
    font-size: 14px;
}

.chef-recommendations {
    padding: 24px 0;
    background-color: #FCF8FF;
}

.chef-text {
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
}

.chef-recommendations h2 {
    font-size: 18px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 0px;
}

.chef-recommendations-container {
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.chef-grid-col {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: start;

}

.food-des-home {
    font-size: 14px;
    color: #584140;
}

.card1 {
    width: 100%;
    background: white;
    border-radius: 12px;
    height: 100%;
    position: relative;

}

.pill {
    position: absolute;
    top: 12px;
    right: 12px;
    color: var(--white);
    background-color: #AE2F34;
    border: none;
    border-radius: 18px;
    padding: 6px 14px;
}

.bold {
    font-weight: 600;
}

.grey-text {
    color: #5F5E5E;

}

.marginRight14 {

    margin-right: 14px;
}

.red-text {
    color: #AE2F34;
}

.card1 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
    margin-bottom: 10px;

}

.margin-b10 {
    margin-bottom: 10px;
}

.chef-grid-row {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: start;
}

.card2 {
    width: 100%;
    background: white;
    border-radius: 12px;

}

.card2>img {
    width: 100%;
    height: 148px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
    margin-bottom: 10px;

}

.margin-l14 {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 14px;
}

.fontSize12 {
    font-size: 12px;
}

.flex-rate {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 12px;
}

.footer {
    width: 100%;
    background-color: #ECF5FE;
}

.footer-container {

    margin-left: 25px;
    margin-right: 25px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 16px;

}

.flexitend {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    margin-top: 22px;
}

.page-nos-round1 {
    border-radius: 50%;
    border: 1px solid #BFCABA;
    padding: 16px 15px;
    height: 35px;
    width: 35px;
    color: #40493D;
    background-color: #ECF5FE;
}

.centerit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyryt {
    color: #584140;
    font-size: 12px;
    margin-left: 18px;
}

.no-style-list {
    list-style: none;
}

.no-style-list li {
    margin-bottom: 10px;
}


/* menu page css */

.menu-container {
    width: 100%;
    background-color: #FCF8FF;
    margin: 0 0 0 0px;
    padding: 24px 40px 60px 52px;
}

.menu-grid {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 12px;
}

.sidebar {
    background-color: var(--white);
    padding: 32px;
    border-radius: 12px;
    margin-left: 0;
    display: block;
    min-width: 240px;
    flex-shrink: 0;
}

.sidebar h3 {
    font-size: 16px;
    font-weight: 400;
    color: #5F5E5E;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    margin-right: 12px;
}

.sidebar>ul>li {
    color: #5F5E5E;
    padding: 8px;
}

.active-menu {
    background-color: #FF6B6B;
    color: #6D0010 !important;
    border-radius: 12px;
}

.free-delivery-box {
    margin: 12px;
    background: linear-gradient(#AE2F34, #FF6B6B);
    border-radius: 12px;
    padding: 12px;
}

.free-delivery-box h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
}

.free-delivery-box p {
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
}

.learn-more-btn {

    width: 100%;
    margin: 12px 0;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    color: var(--primary-brown);

}

.menubar {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    gap: 24px;
}

.food-card {
    width: 260px;
    height: fit-content;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}

.food-card img {
    width: 100%;
    object-fit: fill;
    height: 142px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.star-pill {
    gap: 4px;
    position: absolute;
    top: 8px;
    left: 12px;
    background: #FFFFFFE5;
    border: none;
    border-radius: 22px;
    display: flex;
    padding: 2px 10px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}

.star-pill img {
    width: 14px;
    height: 14px;
}

.margint6 {
    margin: 6px 0;
}

.food-des {
    margin: 12px;
    display: flex;
}

.food-des h3 {
    font-weight: 600;
    font-size: 20px;
}

.food-des p {
    font-weight: 400;
    font-size: 14px;
    color: #5F5E5E;
    margin: 10px 0;
}

.price-tag p {
    font-weight: 600;
    color: var(--primary-brown);
    margin: 6px 0;
}

.qty-add-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
    gap: 40px;
    padding-bottom: 14px;

}

.qty-btn {
    background: #ECF5FE;
    padding: 2px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 82px;
    border-radius: 15px;
}

.qty-btn button {
    border: none;
    background: #ECF5FE;

}

.qty-btn span {
    border: none;
    background: #ECF5FE;

}

.add-to-cart button {
    padding: 4px 46px;
    background: var(--primary-brown);
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.add-to-cart:hover button {
    background-color: #e62121;
}

/* checkout css  */

.checkout-container {
    background-color: #FCF8FF;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.checkout-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;

    margin-right: 30px;
}


.cart {
    width: 100%;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);


}

.cart-header {
    padding: 0 24px;
    padding-top: 12px;
    font-weight: 600;
    font-size: 18px;
}

.cart-item {
    display: grid;
    grid-template-columns: 0fr 3fr 0fr 0fr;
    align-items: start;
    color: #828bb2;
    padding: 12px 24px 12px 24px;
    gap: 10px;

}

.product-info {
    display: flex;
    gap: 30px;
    justify-content: start;
    align-items: center;
}

.product-info img {
    width: 50px;
    height: 50px;
    border-radius: 8px;

}

.remove-btn {
    align-items: flex-start;
}

.remove-btn button {
    padding: 0 5px;
    background: transparent;
    border: none;

}

.remove-btn:hover button {
    border-radius: 50%;
    background-color: red;
    color: var(--white);
}

hr {
    margin: 0 18px;
}

.product-cart-name {
    font-weight: 600;
    color: #131D21;
    align-self: flex-start;
}

.cart-name-below {
    font-size: 10px;
    font-weight: 400;
    color: #586062;
}

.price {
    font-size: 12;
    font-weight: 600;
    align-items: flex-start;
    color: black;
}

.subtotal-container {

    display: flex;
    margin: 8px 24px 8px 24px;
    justify-content: space-between;
    color: #586062;

}

.total-container {
    display: flex;
    margin: 8px 24px 8px 24px;
    justify-content: space-between;
    color: #131D21;
    font-size: 20px;
    font-weight: 600;
}

#total-price {
    color: #AE2F34;
}

.place-order-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-order-btn button {
    padding: 6px 98px;
    background: var(--primary-brown);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    margin: 14px 24px;


}

.terms {
    margin: 8px 24px 8px 24px;
    font-size: 10px;
    color: #586062;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.terms span {
    color: var(--primary-brown);
}

.secure-order {
    font-size: 12px;
    font-weight: 500;
    color: #586062;
    background-color: #E4F0F4;
    border: none;
    border-radius: 10px;

}

.popup-status {
    position: fixed;
    top: 13px;
    right: 40px;
    background-color: var(--primary-brown);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    animation: slideIn 0.3s ease-out;
    z-index: 100;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.payment-delivery-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;


}

.delivery {
    background-color: var(--white);
    padding: 16px;
    margin: 0 42px;
    border-radius: 10px;
}

.form-flex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-input {
    background-color: #EAF5FA;
    border: 1px solid #D9E4E9;
    padding: 12px 88px 12px 16px;
    border-radius: 5px;
    margin: 4px 0;
    width: 100%;
}

.form-input-lock {
    position: relative;
}

.form-input-lock img {
    position: absolute;
    top: 34px;
    right: 12px;
    width: 18px;
    height: 18px;
}

.flex-jc {
    display: flex;
    justify-content: start !important;
    gap: 24px
}

.methods-pay {

    border: 1px solid #D9E4E9;
    background-color: #fff;
    padding: 8px 16px;
    /* border: 1px solid; */
    border-radius: 8px;

}

.gap-cards {
    gap: 70px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.boldfont16 {
    font-size: 16px;
    font-weight: 600;
}

.font12Brown {
    font-size: 12px;
    color: #584140;
    font-weight: 600;
}

.popup-order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    margin: 12px;
    background-color: var(--forget-create);
    width: 50%;
    align-self: center;
    justify-self: center;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}

.popup-order-container {
    position: fixed;
    top: 25%;
    right: 25%;
    animation: slideIn 0.3s ease-out;
    z-index: 100;
}

.popup-order {
    text-align: center;
    font-size: 18px;
    color: var(--white);
    align-self: end;
}

.order-success {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 142px;
}

.order-success img {
    object-fit: cover;
    width: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
    height: 100px;
}

.pop-icon-rev {
    font-size: 54px;
    transform: rotate(-90deg);
}

.pop-icon {
    font-size: 54px;
}


.popup-order-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sidebar-icon {
    width: 16px;
    height: 16px;
}

.sidebar-icon-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.time-icon {
    width: 12px;
    height: 12px;
}

.flex-it-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.alignTimeSelfCenter {
    align-self: center;
}
















/* floating labels */

/* .input-group {
    position: relative;
    margin: 20px 0;
}
 
.input-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}
 
 
.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 14px;
    background: #01003f;
} */


/*FLOATING LABEL 2*/
.input-group {
    position: relative;
    margin: 18px 0 0 0;
}

.input-group input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #C7C4D8;
    border-radius: 8px;
    background: #F1F5F9;
    font-size: 14px;
    outline: none;
}

.input-group input:focus {
    border: 1px solid var(--primary-brown);
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #6b6b6b;
    font-size: 12px;
    pointer-events: none;
    font-weight: 600;
    transition: 0.3s ease;


}

.input-group input:focus+label,
.input-group input:valid+label {
    top: 0px;
    left: 10px;
    font-size: 10px;
    background: linear-gradient(#fff, #F1F5F9);
    padding: 0 4px;
    color: var(--primary-brown);


}

/* .forgot-text {
    text-align: right;
    font-size: 12px;
    color: var(--forget-create);
    cursor: pointer;
} */



/* responsive */

/* 


@media screen and (max-width:600px) {

    .sidebar {
        display: none;
    }

    .menubar {
        display: grid;
        align-items: center;
        justify-content: start;
    }
}


@media screen and (max-width:1106px) {

    .menubar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex: 1;
    }

    .sidebar {
        position: sticky;
        left: 0;

    }

    .free-delivery-box>h3 {
        font-size: 16px;
    }

    .free-delivery-box {
        width: 100%;
        margin: 2px 0;
        padding: 4px 10px;
        border-radius: 8px;
        border: none;
        color: var(--primary-brown);
    }

    .free-delivery-box>p {
        display: none;
    }
}

@media screen and (max-width:986px) {

    .free-delivery-box>h3 {
        font-size: 14px;
    }

    .learn-more-btn {
        width: 100%;
        margin: 6px 0;
        padding: 4px 6px;
        border-radius: 8px;
        border: none;
        color: var(--primary-brown);
    }

    .header-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: baseline;
        gap: 0;
    }

    #home-search {
        padding: 4px 50px;
    }
}

@media screen and (max-width:954px) {
    .free-delivery-box {
        display: none;
    }

    .sidebar>ul {
        font-size: 14px;
    }
}

 */



.hamburger,
.sidebar-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .header-left ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background: white;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 10px 0;
    }

    .header-left ul.active {
        display: flex;
    }

    .home-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .footer-container {
        margin-left: 25px;
        margin-right: 14px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        padding: 0;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .menu-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
}



@media screen and (max-width: 768px) {

    .sidebar {
        position: fixed;
        top: 0;
        left: -260px;
        width: 250px;
        height: 100%;
        z-index: 999;
        transition: 0.3s;
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar-toggle {
        display: block;
    }
}